<header>
  <div class="container pt-3">
    <%= link_to '/', class:'text-decoration-none' do %>
      <div class="d-flex justify-content-center">
        <h1>Tasting Note</h1>
        <%= image_tag "/assets/top.logo.jpeg", class:'header-img'%>
      </div>
    <% end %>
    <nav>
      <ul class="d-flex justify-content-between mt-5">
        <%# <li>Tasting Note</li> %>
        <li>カテゴリー</li>
        <li><a href="#footer-article" class="text-decoration-none text-dark">記事</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'ノート作成', new_wine_path, class: 'text-decoration-none text-dark' %></li>
          <li><%= link_to '登録情報変更', edit_user_registration_path, class: 'text-decoration-none text-dark' %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, class: 'text-decoration-none text-dark', method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: 'text-decoration-none text-dark' %></li>
          <li><%= link_to '会員登録', new_user_registration_path, class:'text-decoration-none text-dark' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
