<div class="registration-wrapper">
  <%= render 'shared/sub_header' %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="registration-form container">
          <h2>ログイン</h2>
          <%= render 'shared/error_messages', model: @user %>
          <div class="row">
            <div class="col-12">
              <%= f.label :'メールアドレス' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"w-100" %>
            </div>
          </div>

          <div class="row mt-4">
            <div class="field col-12">
              <%= f.label :'パスワード' %>
              <%= f.password_field :password, autocomplete: "current-password", class:"w-100" %>
            </div>
          </div>

          <div class="actions mt-4 text-center">
            <%= f.submit "ログイン", class:"register-btn" %>
          </div>
        </div>
      <% end %>
  <%= render 'shared/sub_footer' %>
</div>