<div class="home">
  <%# ヘッダーここから %>
  <%= render 'shared/main_header' %>
  <%# ヘッダーここまで %>

  <%# メインここから %>

  <!-- ヒーロースライダーここから -->
  <div class="hero">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="hero__title">Tasting is fun.</div>
            <%= image_tag "/assets/slider1.jpg" %>
          </div>
          <div class="swiper-slide">
            <div class="hero__title">
              <span class="sub-title">外観</span>
              <span class="main-title">Look</span>
            </div>
            <%= image_tag "/assets/slider2.jpg" %>
          </div>
          <div class="swiper-slide">
            <div class="hero__title">
              <span class="sub-title">香り</span>
              <span class="main-title">Flavor</span>
            </div>
            <%= image_tag "/assets/slider3.jpg" %>
          </div>
          <div class="swiper-slide">
            <div class="hero__title">
              <span class="sub-title">味わい</span>
              <span class="main-title">Taste</span>
            </div>
            <%= image_tag "/assets/slider4.jpg" %>
          </div>
      </div>
      <div class="hero__footer">
        <%= image_tag '/assets/arrow.svg', class:'hero__downarrow' %>
        <span class="hero__scrolltext">scroll</span>
      </div>
    </div>
  </div>
  <!-- ヒーロースライダーここまで -->

  <%# メインここまで %>

  <%# セカンドここから %>
  <div class="second">
    <h2 class="second__title">Notes</h2>
    <div class="second__wines">
      <% @wines.each do |wine| %>
        <%= link_to wine_path(wine), class:"second__wines-item bg-dark" do %>
          <%= image_tag wine.image.variant(resize: "500x500"), class:"second__wines-img" %>
          <h2 class="second__wines-title"><%= wine.name %></h2>
        <% end %>
      <% end %>
    </div>
    <div class="second__footer">
      <span class="second__scrolltext">scroll</span>
    </div>
    <a href="#" class="text-center d-block text-decoration-none text-dark mt-3">VIEW ALL</a>
  </div>
  <%# セカンドここまで %>

  <%# フッターここから %>
  <%= render 'shared/main_footer'%>
  <%# フッターここまで %>

  <%# モーダル部分 %>
  <%= render 'article.country' %>
  <%= render 'article.white' %>
  <%= render 'article.red' %>
  <%# モーダル部分 %>
</div>